html, body{
  margin: 0;
  height: 100vh;
  min-height: 100vh;
}

.liste {
  display: flex;
  flex-direction: row;
}

.edition {
  display: flex;
  flex-direction: row;
}

ng-message {
  color : red;
}

