<div class="field">
  <label class="label">Recherche</label>
  <input type="text" class="input" ng-model="$ctrl.query"/>
</div>
<div class="hero">
<h1 class-"title is-1" >Liste des conférences à venir</h1>
</div>
<table class="table" >
  <thead>
    <tr>
      <th>Titre</th>
      <th>Description</th>
      <th>Date</th>
      <th>Logo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="conf in $ctrl.liste | filter:$ctrl.query | orderBy:'date':false track by $index" >
      <td>{{ conf.titre }}</td>
      <td>{{ conf.description }}</td>
      <td>{{ conf.date }}</td>
      <td>{{ conf.logoUrl }}</td>
      <td><button class="button is-info is-outlined" ng-click="$ctrl.edit(conf)" >edit</button></td>
    </tr>
  </tbody>
</table>
